#grid-container {
    display: flex;
    flex-wrap: wrap;
    border-width: 0.1em;
    border-style: solid;
    width: 500px;
    height: 500px;
    margin-top: 20px;
}

.tile {
    border-style: solid;
    border-width: 0.1em;
    box-sizing: border-box;
}